<div class="ui container" ng-controller="AddTransportController">
    <div class="ui grid stackable">
        <div class="eight wide column centered">
            <h4 class="ui horizontal divider header">
                <i class="Shipping icon"></i>
                Dodaj nowy przejazd
            </h4>
            <form class="ui form">
                <div class="field">
                    <label><i class="Comment Outline icon"></i>Nazwa ogłoszenia</label>
                    <textarea rows="1" maxlength="100" id="transport-title" name="transport-title"></textarea>
                </div>
                <div class="field">
                    <label><i class="Flag Outline icon"></i>Początek trasy</label>
                    <div class="ui search selection dropdown" id="transport-start">
                        <input type="hidden" name="transport-start">
                        <i class="dropdown icon"></i>
                        <div class="default text">Miasto początkowe</div>
                    </div>
                </div>
                <div class="field">
                    <label><i class="Resize Horizontal icon"></i>Przejazd przez</label>
                    <div class="ui search multiple selection dropdown" id="transport-through">
                        <input type="hidden" name="transport-through">
                        <i class="dropdown icon"></i>
                        <div class="default text">Miasto pośrednie</div>
                    </div>
                </div>
                <div class="field">
                    <label><i class="Flag icon"></i>Koniec trasy</label>
                    <div class="ui search selection dropdown" id="transport-end">
                        <input type="hidden" name="transport-end">
                        <i class="dropdown icon"></i>
                        <div class="default text">Miasto końcowe</div>
                    </div>
                </div>
                <div class="field">
                    <label><i class="Suitcase icon"></i>Rodzaje akceptowanych paczek</label>
                    <div class="ui search multiple selection dropdown" id="transport-packtypes">
                        <input type="hidden" name="transport-packtypes">
                        <i class="dropdown icon"></i>
                        <div class="default text">Małe, średnie...</div>
                    </div>
                </div>
                <div class="field">
                    <label><i class="Browser icon"></i>Opis ogłoszenia</label>
                    <textarea rows="4" maxlength="500" id="transport-description" name="transport-description"></textarea>
                </div>
                <div class="ui error message"></div>
                <button type="submit" class="ui blue submit button">Potwierdź</button>
            </form>
        </div>

    </div>
</div>
