<div class="ui container" data-ng-controller="AddTransportController">
    <div class="ui grid stackable">
        <div data-ng-show="logged" class="eight wide column centered">
            <h4 class="ui horizontal divider header">
                <i class="Shipping icon"></i>
                Dodaj nowy przejazd
            </h4>
            <ul>
                <li class="has-error" data-ng-show="addTransportForm.title.$invalid && addTransportForm.title.$touched" class="help-block">Tytuł jest wymagany</li>
                <li class="has-error" data-ng-show="addTransportForm.departureDate.$invalid && addTransportForm.departureDate.$dirty" class="help-block">Data wyjazdu jest wymagana</li>
                <li class="has-error" data-ng-show="isDateValid()" class="help-block">Data wyjazdu jest niepoprawna!</li>
                <li class="has-error" data-ng-show="addTransportForm.point0.$invalid && addTransportForm.point0.$touched" class="help-block">Początek trasy jest wymagany</li>
                <li class="has-error" data-ng-show="addTransportForm.point7.$invalid && addTransportForm.point7.$touched" class="help-block">Koniec trasy jest wymagany</li>
                <li class="has-error" data-ng-show="addTransportForm.description.$invalid && addTransportForm.description.$touched" class="help-block">Opis jest wymagany</li>
                <li class="has-error" data-ng-show="addTransportForm.minPrice.$invalid && addTransportForm.minPrice.$touched" class="help-block">Cena minimalna jest wymagana</li>
                <li class="has-error" data-ng-show="addTransportForm.maxPrice.$invalid && addTransportForm.maxPrice.$touched" class="help-block">Cena maksymalna jest wymagana</li>
                <li class="has-error" data-ng-show="choosePreference" class="help-block">Należy wybrać co najmniej jeden rodzaj transportowanych paczek</li>
            </ul>
            <form class="ui form" name="addTransportForm" data-ng-submit="addTransport()" novalidate>
                <div class="field" data-ng-class="{'error' : addTransportForm.title.$invalid && addTransportForm.title.$touched }">
                    <label><i class="Edit icon"></i>Tytuł ogłoszenia</label>
                    <input data-ng-model="transport.title" type="text" name="title" placeholder="Tytuł ogłoszenia" maxlength="100" required>
                </div>
                <div class="field" data-ng-class="{'error' : addTransportForm.departureDate.$invalid && addTransportForm.departureDate.$touched }">
                    <label><i class="Calendar icon"></i>Data wyjazdu</label>
                    <input type="text" data-ng-model="departureDate" name="departureDate" id="departureDate" readonly="readonly" required>
                </div>
                <div class="field" data-ng-class="{'error' : addTransportForm.point0.$invalid && addTransportForm.point0.$touched }">
                    <label><i class="Flag Outline icon"></i>Wyruszam z</label>
                    <select class="dropdown-bottom-margin" id="point0Dropdown" name="point0" data-ng-model="routes.point0" data-ng-options="point0City.name for point0City in cities" required>
                    </select>
                </div>
                <div class="field">
                    <label><i class="Ellipsis Vertical icon"></i>Jadę przez</label>
                    <select class="dropdown-bottom-margin" id="point1Dropdown" data-ng-model="routes.point1" data-ng-options="point1City.name for point1City in cities" data-ng-change="addPoint(2)">
                        <option value=""></option>
                    </select>
                    <select class="dropdown-bottom-margin" id="point2Dropdown" data-ng-model="routes.point2" data-ng-options="point2City.name for point2City in cities" data-ng-change="addPoint(3)" data-ng-show=" points >= 2">
                        <option value=""></option>
                    </select>
                    <select class="dropdown-bottom-margin" id="point3Dropdown" data-ng-model="routes.point3" data-ng-options="point3City.name for point3City in cities" data-ng-change="addPoint(4)" data-ng-show=" points >= 3">
                        <option value=""></option>
                    </select>
                    <select class="dropdown-bottom-margin" id="point4Dropdown" data-ng-model="routes.point4" data-ng-options="point4City.name for point4City in cities" data-ng-change="addPoint(5)" data-ng-show=" points >= 4">
                        <option value=""></option>
                    </select>
                    <select class="dropdown-bottom-margin" id="point5Dropdown" data-ng-model="routes.point5" data-ng-options="point5City.name for point5City in cities" data-ng-change="addPoint(6)" data-ng-show=" points >= 5">
                        <option value=""></option>
                    </select>
                    <select class="dropdown-bottom-margin" id="point6Dropdown" data-ng-model="routes.point6" data-ng-options="point6City.name for point6City in cities" data-ng-show=" points >= 6">
                        <option value=""></option>
                    </select>
                </div>
                <div class="field" data-ng-class="{'error' : addTransportForm.point7.$invalid && addTransportForm.point7.$touched }">
                    <label><i class="Flag icon"></i>Wyruszam do</label>
                    <select id="point7Dropdown" name="point7" data-ng-model="routes.point7" data-ng-options="point7City.name for point7City in cities" required>
                    </select>
                </div>
                <div class="field" data-ng-class="{'error' : addTransportForm.description.$invalid && addTransportForm.description.$touched }">
                    <label><i class="Newspaper icon"></i>Treść ogłoszenia</label>
                    <textarea data-ng-model="transport.description" type="description" name="description" placeholder="Treść ogłoszenia" maxlength="500" required></textarea>
                </div>
                <div class="inline fields center aligned">
                    <label><i class="Dollar icon"></i>Cena przewozu paczek</label>
                    <div class="four wide field" data-ng-class="{'error' : addTransportForm.minPrice.$invalid && addTransportForm.minPrice.$touched }">
                        <input data-ng-model="transport.minPrice" type="number" name="minPrice" placeholder="0.00" required>
                    </div>
                    <div class="one wide field center aligned">
                        <i class="Minus icon"></i>
                    </div>
                    <div class="four wide field" data-ng-class="{'error' : addTransportForm.maxPrice.$invalid && addTransportForm.maxPrice.$touched }">
                        <input data-ng-model="transport.maxPrice" type="number" name="maxPrice" placeholder="0.00" required>
                    </div>
                    <div class="two wide field">
                        <h5>Zł</h5>
                    </div>
                </div>
                <div class="grouped fields">
                    <label><i class="Suitcase icon"></i>Paczki jakie mogę zabrać</label>
                    <div class="field">
                        <div style="display: block; margin-bottom: 5px " class="ui slider checkbox" data-ng-repeat="preference in preferences">
                            <input
                                    type="checkbox"
                                    name="selectedPreferences[]"
                                    value="{{preference.id}}"
                                    data-ng-checked="selection.indexOf(preference) > -1"
                                    data-ng-click="toggleSelection(preference)">
                            <label>
                                {{preference.name}}
                                <i class="help-popup Large Help Circle Grey icon" data-content="{{preference.description}}"></i>
                                <!-- Niestety musialem to tu dac -->
                                <script>
                                    $('.help-popup').popup({
                                        on: 'hover'
                                    });
                                </script>
                            </label>
                        </div>
                    </div>
                </div>
                <button data-ng-disabled="addTransportForm.$invalid" class="ui right floated large accent-color button" type="submit">Dodaj ogłoszenie</button>
            </form>
        </div>
        <div data-ng-show="!logged">

        </div>
    </div>

</div>
<script>

</script>