<div class="ui container" ng-controller="AddTransportController">
    <div class="ui grid stackable">
        <div class="eight wide column centered">
            <h4 class="ui horizontal divider header">
                <i class="Shipping icon"></i>
                Dodaj nowy przejazd
            </h4>
            <ul>
                <li class="has-error" ng-show="addTransportForm.title.$invalid && addTransportForm.title.$touched" class="help-block">Tytuł jest wymagany</li>
                <li class="has-error" ng-show="addTransportForm.date.$invalid && addTransportForm.date.$touched" class="help-block">Data wyjazdu jest wymagana</li>
                <li class="has-error" ng-show="addTransportForm.point0.$invalid && addTransportForm.point0.$touched" class="help-block">Początek trasy jest wymagany</li>
                <li class="has-error" ng-show="addTransportForm.point7.$invalid && addTransportForm.point7.$touched" class="help-block">Koniec trasy jest wymagany</li>
                <li class="has-error" ng-show="addTransportForm.description.$invalid && addTransportForm.description.$touched" class="help-block">Opis jest wymagany</li>
            </ul>
            <form class="ui form" name="addTransportForm" ng-submit="addTransport()" novalidate>
                <div class="field" ng-class="{'error' : addTransportForm.title.$invalid && addTransportForm.title.$touched }">
                    <label>Tytuł ogłoszenia</label>
                    <input ng-model="transport.title" type="text" name="title" placeholder="Tytuł ogłoszenia" maxlength="100" required>
                </div>
                <div class="field" ng-class="{'error' : addTransportForm.date.$invalid && addTransportForm.date.$touched }">
                    <label>Data wyjazdu</label>
                    <input ng-model="transport.date" type="date" name="date" required>
                </div>
                <div class="field" ng-class="{'error' : addTransportForm.point0.$invalid && addTransportForm.point0.$touched }">
                    <label>Wyruszam z</label>
                    <select id="point0Dropdown" name="point0" ng-model="routes.point0" ng-options="point0City.name for point0City in cities" required>
                    </select>
                </div>
                <div class="field">
                    <label>Jadę przez</label>
                    <select class="dropdown-bottom-margin" id="point1Dropdown" ng-model="routes.point1" ng-options="point1City.name for point1City in cities" ng-change="addPoint(2)">
                        <option value=""></option>
                    </select>
                    <select class="dropdown-bottom-margin" id="point2Dropdown" ng-model="routes.point2" ng-options="point2City.name for point2City in cities" ng-change="addPoint(3)" ng-show=" points >= 2">
                        <option value=""></option>
                    </select>
                    <select class="dropdown-bottom-margin" id="point3Dropdown" ng-model="routes.point3" ng-options="point3City.name for point3City in cities" ng-change="addPoint(4)" ng-show=" points >= 3">
                        <option value=""></option>
                    </select>
                    <select class="dropdown-bottom-margin" id="point4Dropdown" ng-model="routes.point4" ng-options="point4City.name for point4City in cities" ng-change="addPoint(5)" ng-show=" points >= 4">
                        <option value=""></option>
                    </select>
                    <select class="dropdown-bottom-margin" id="point5Dropdown" ng-model="routes.point5" ng-options="point5City.name for point5City in cities" ng-change="addPoint(6)" ng-show=" points >= 5">
                        <option value=""></option>
                    </select>
                    <select class="dropdown-bottom-margin" id="point6Dropdown" ng-model="routes.point6" ng-options="point6City.name for point6City in cities" ng-show=" points >= 6">
                        <option value=""></option>
                    </select>
                </div>
                <div class="field" ng-class="{'error' : addTransportForm.point7.$invalid && addTransportForm.point7.$touched }">
                    <label>Wyruszam do</label>
                    <select id="point7Dropdown" name="point7" ng-model="routes.point7" ng-options="point7City.name for point7City in cities" required>
                    </select>
                </div>
                <div class="field" ng-class="{'error' : addTransportForm.description.$invalid && addTransportForm.description.$touched }">
                    <label>Treść ogłoszenia</label>
                    <textarea ng-model="transport.description" type="description" name="description" placeholder="Treść ogłoszenia" maxlength="500" required></textarea>
                </div>
                <div class="grouped fields">
                    <label>Paczki jakie mogę zabrać</label>
                    <div class="field">
                        <div style="display: block; margin-bottom: 5px" class="ui slider checkbox" ng-repeat="packtype in packtypes">
                            <input
                                    type="checkbox"
                                    name="selectedPacktypes[]"
                                    value="{{packtype}}"
                                    ng-checked="selection.indexOf(packtype) > -1"
                                    ng-click="toggleSelection(packtype)"
                            >
                            <label>{{packtype.name}}</label>
                        </div>
                    </div>
                </div>
                <button ng-disabled="addTransportForm.$invalid" class="ui right floated large accent-color button" type="submit">Dodaj ogłoszenie</button>
            </form>
        </div>

    </div>
</div>
