<div class="ui container" ng-controller="MyProfileController">
    <div class="ui grid stackable">
        <div class="eight wide column ">
            <h4 class="ui horizontal divider header">
                <i class="user icon"></i>
                Dane użytkownika
            </h4>
            <form class="ui form">
                <div class="field">
                    <label>Imię</label>
                    <input ng-model="user.name" type="text" name="first-name" value="{{User.name}}" placeholder="Imię">
                </div>
                <div class="field">
                    <label>Nazwisko</label>
                    <input ng-model="user.surname" type="text" name="last-name" value="{{User.surname}}" placeholder="Nazwisko">
                </div>
                <div class="field">
                    <label>Telefon</label>
                    <input ng-model="user.phoneNumber" type="text" name="last-name" value="{{User.phoneNumber}}" placeholder="Telefon">
                </div>
                <div class="field">
                    <label>Data urodzenia</label>
                    <input ng-model="user.birthdate" type="date" name="last-name" value="{{User.birthdate}}">
                </div>
                <div class="field">
                    <label>Auto</label>
                    <input ng-model="user.car" type="text" name="last-name" value="{{User.car}}" placeholder="Auto">
                </div>
                <div class="inline fields">
                    <label>Płeć</label>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" ng-model="user.sex" value="M" name="sex" checked="" tabindex="0" class="hidden">
                            <label>Mężczyzna</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" ng-model="user.sex" value="K" name="sex" tabindex="0" class="hidden">
                            <label>Kobieta</label>
                        </div>
                    </div>
                </div>
                <a href="#my-profile" class="ui right floated large accent-color button" ng-click="onSubmitUpdate()" type="submit">Zapisz</a>
            </form>
        </div>
        <div class="eight wide column center aligned">
            <h4 class="ui horizontal divider header">
                <i class="Photo icon"></i>
                Zdjęcie
            </h4>
            <div class="chosed-photo" ng-if="User.photo != ''" class="image center aligned">
                <img class="ui small " src="{{User.photo}}">
            </div>
            <div class="ui large accent-color button">Wybierz</div>
        </div>
    </div>
</div>
<script>
    $('.ui.radio.checkbox')
            .checkbox()
    ;
</script>
