<div ng-controller="GreetingController">
    {{something}}
    <div class="container ui">
        <h2 class="center aligned ui icon huge header">
            <i class="car icon primary-color"></i>
            <div class="content">
                DeliverIT
                <div class="sub header">Fusce posuere porta sapien non tincidunt.</div>
            </div>
        </h2>

        <h4 class="ui horizontal divider header">
            <i class="accent-color Star icon"></i>
        </h4>

        <div class="ui grid">
            <div class="row ui">
                <h2>Proponowane przejazdy</h2>
            </div>
            <div class="row ui">
                <div class="ui cards">
                    <div class="card">
                        <div class="content">
                            <img class="right floated tiny ui image" src="./content/pictures/lolek.jpg">
                            <div class="header">
                                <p style="margin-top: 15px">Karol Niziałek</p>
                                <div style="margin-bottom:10px" class="ui star rating" data-rating="1" data-max-rating="5"></div>
                                <h4 class="ui horizontal divider ">
                                    PODRÓŻ
                                </h4>
                                <h4 style="margin-bottom: 2px; margin-top: 2px;">Z: Wrocław</h4>
                                <h4 style="margin-bottom: 2px; margin-top: 2px;">Do: Warszawa</h4>
                                <h4 class="ui horizontal divider ">
                                    TERMIN
                                </h4>
                                <h5 style="margin-bottom: 2px; margin-top: 2px;">Data: 12.04.2016r</h5>
                                <h5 style="margin-bottom: 2px; margin-top: 2px;">Godzina: 15:30</h5>
                            </div>
                            <div class="meta">
                            </div>
                            <h4 class="ui horizontal divider ">
                                Opis
                            </h4>
                            <div class="description">
                                <p>Aliquam euismod malesuada tortor sit amet molestie. Nunc ullamcorper eget sem at pharetra. Ut eleifend, justo nec maximus scelerisque, dolor ex dignissim dui, nec sollicitudin sem ligula eu sapien. Fusce a diam a nisl efficitur euismod...</p>
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two buttons">
                                <div class="ui accent-color button">Zobacz</div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <img class="right floated tiny ui image" src="./content/pictures/maciek.jpg">
                            <div class="header">
                                <p style="margin-top: 15px">Maciej Lewiński</p>
                                <div style="margin-bottom:10px" class="ui star rating" data-rating="3" data-max-rating="5"></div>
                                <h4 class="ui horizontal divider ">
                                    PODRÓŻ
                                </h4>
                                <h4 style="margin-bottom: 2px; margin-top: 2px;">Z: Wrocław</h4>
                                <h4 style="margin-bottom: 2px; margin-top: 2px;">Do: Warszawa</h4>
                                <h4 class="ui horizontal divider ">
                                    TERMIN
                                </h4>
                                <h5 style="margin-bottom: 2px; margin-top: 2px;">Data: 14.04.2016r</h5>
                                <h5 style="margin-bottom: 2px; margin-top: 2px;">Godzina: 11:15</h5>
                            </div>
                            <div class="meta">
                            </div>
                            <h4 class="ui horizontal divider ">
                                Opis
                            </h4>
                            <div class="description">
                                <p>Dolor ex dignissim dui, nec sollicitudin sem ligula eu sapien.</p>
                                <p>Eget pretium turpis lacinia...</p>
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two buttons">
                                <div class="ui accent-color button">Zobacz</div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <img class="right floated tiny ui image" src="./content/pictures/daniel.jpg">
                            <div class="header">
                                <p style="margin-top: 15px">Daniel Skupień</p>
                                <div style="margin-bottom:10px" class="ui star rating" data-rating="4" data-max-rating="5"></div>
                                <h4 class="ui horizontal divider ">
                                    PODRÓŻ
                                </h4>
                                <h4 style="margin-bottom: 2px; margin-top: 2px;">Z: Wrocław</h4>
                                <h4 style="margin-bottom: 2px; margin-top: 2px;">Do: Warszawa</h4>
                                <h4 class="ui horizontal divider ">
                                    TERMIN
                                </h4>
                                <h5 style="margin-bottom: 2px; margin-top: 2px;">Data: 05.04.2016r</h5>
                                <h5 style="margin-bottom: 2px; margin-top: 2px;">Godzina: 6:35</h5>
                            </div>
                            <div class="meta">
                            </div>
                            <h4 class="ui horizontal divider ">
                                Opis
                            </h4>
                            <div class="description">
                                <p>Dolor ex dignissim dui, nec sollicitudin sem ligula eu sapien.</p>
                                <p>Eget pretium turpis lacinia.</p>
                                <p>Dolor ex dignissim dui, nec sollicitudin sem ligula eu sapien...</p>
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui two buttons">
                                <div class="ui accent-color button">Zobacz</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="ui horizontal divider header">
            <i class="accent-color Star icon"></i>
        </h4>
        <div class="ui steps">
            <div class="active step">
                <i class="primary-color search icon"></i>
                <div class="content">
                    <div class="title">Wyszukaj przejazd</div>
                    <div class="description">Fusce posuere non tincidunt.</div>
                </div>
            </div>
            <div class="step">
                <i class="primary-color Write icon"></i>
                <div class="content">
                    <div class="title">Zarezerwuj miejsce</div>
                    <div class="description">Fusce posuere non tincidunt.</div>
                </div>
            </div>
            <div class="step">
                <i class="primary-color Send Outline icon"></i>
                <div class="content">
                    <div class="title">Wyślij przesyłkę</div>
                    <div class="description">Fusce posuere non tincidunt.</div>
                </div>
            </div>
            <div class="step">
                <i class="primary-color Child icon"></i>
                <div class="content">
                    <div class="title">Bądź usatysfakcjonowany</div>
                    <div class="description">Fusce posuere non tincidunt.</div>
                </div>
            </div>
        </div>
    </div>
</div>