<div data-ng-controller="GreetingController">
    <div class="container ui">
        <h2 id="greeting-title" class="center aligned ui icon huge header">
            <i class="car icon primary-color"></i>
            <div class="content">
                DeliverIT
                <div class="sub header">
                    <div id ="title-shape" class="ui text shape">
                        <div class="sides">
                            <div class="active ui sub-header side">Portal społecznościowy do obsługi przesyłek</div>
                            <div class="ui sub-header side">Bez kłopotliwych formalności</div>
                            <div class="ui sub-header side">Bezpośredni kontakt z kierowcą</div>
                            <div class="ui sub-header side">Możliwość śledzenia paczki w czasie rzeczywistym</div>
                        </div>
                    </div>
                </div>
            </div>
        </h2>
        <h4 data-ng-show="yanek" class="ui horizontal divider header">
            <i class="accent-color Star icon"></i>
        </h4>
        <div data-ng-show="logged && yanek" class="ui grid stackable centered">
            <div class="row ui">
                <h2>Proponowane przejazdy</h2>
            </div>
            <div class="row center aligned ui">
                <div class="one wide column">
                    <!--<i class="accent-color Angle Left huge icon"></i>-->
                </div>
                <div style="text-align: center;" class="fourteen wide column centered">
                    <div style="text-align: center; display: inline-flex" class="ui cards">
                        <div class="card">
                            <div class="content">
                                <img class="right floated tiny ui image" src="./content/pictures/lolek.jpg">
                                <div class="header">
                                    <p class="header-name">Karol Niziałek</p>
                                    <div class="ui star rating" data-rating="1" data-max-rating="5"></div>
                                    <h4 class="ui horizontal divider from-where">
                                        PODRÓŻ
                                    </h4>
                                    <h4 class="from-where">Z: Wrocław</h4>
                                    <h4 class="from-where">Do: Warszawa</h4>
                                    <h4 class="ui horizontal divider ">
                                        TERMIN
                                    </h4>
                                    <h5 class="date-time">Data: 12.04.2016r</h5>
                                    <h5 class="date-time">Godzina: 15:30</h5>
                                </div>
                                <div class="meta">
                                </div>
                                <h4 class="ui horizontal divider ">
                                    Opis
                                </h4>
                                <div class="description">
                                    <p>Aliquam euismod malesuada tortor sit amet molestie. Nunc ullamcorper eget sem at pharetra. Ut eleifend, justo nec maximus scelerisque, dolor ex dignissim dui, nec sollicitudin sem ligula eu sapien. Fusce a diam a nisl efficitur euismod...</p>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui two buttons">
                                    <div class="ui accent-color button">Zobacz</div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <img class="right floated tiny ui image" src="./content/pictures/maciek.jpg">
                                <div class="header">
                                    <p class="header-name">Maciej Lewiński</p>
                                    <div class="ui star rating" data-rating="3" data-max-rating="5"></div>
                                    <h4 class="ui horizontal divider from-where">
                                        PODRÓŻ
                                    </h4>
                                    <h4 class="from-where">Z: Wrocław</h4>
                                    <h4 class="from-where">Do: Warszawa</h4>
                                    <h4 class="ui horizontal divider ">
                                        TERMIN
                                    </h4>
                                    <h5 class="date-time">Data: 14.04.2016r</h5>
                                    <h5 class="date-time">Godzina: 11:15</h5>
                                </div>
                                <div class="meta">
                                </div>
                                <h4 class="ui horizontal divider ">
                                    Opis
                                </h4>
                                <div class="description">
                                    <p>Dolor ex dignissim dui, nec sollicitudin sem ligula eu sapien.</p>
                                    <p>Eget pretium turpis lacinia...</p>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui two buttons">
                                    <div class="ui accent-color button">Zobacz</div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <img class="right floated tiny ui image" src="./content/pictures/daniel.jpg">
                                <div class="header">
                                    <p class="header-name">Daniel Skupień</p>
                                    <div class="ui star rating" data-rating="4" data-max-rating="5"></div>
                                    <h4 class="ui horizontal divider from-where">
                                        PODRÓŻ
                                    </h4>
                                    <h4 class="from-where">Z: Wrocław</h4>
                                    <h4 class="from-where">Do: Warszawa</h4>
                                    <h4 class="ui horizontal divider ">
                                        TERMIN
                                    </h4>
                                    <h5 class="date-time">Data: 05.04.2016r</h5>
                                    <h5 class="date-time">Godzina: 6:35</h5>
                                </div>
                                <div class="meta">
                                </div>
                                <h4 class="ui horizontal divider ">
                                    Opis
                                </h4>
                                <div class="description">
                                    <p>Dolor ex dignissim dui, nec sollicitudin sem ligula eu sapien.</p>
                                    <p>Eget pretium turpis lacinia.</p>
                                    <p>Dolor ex dignissim dui, nec sollicitudin sem ligula eu sapien...</p>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="ui two buttons">
                                    <div class="ui accent-color button">Zobacz</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="one wide column">
                    <!--<i class="accent-color Angle Right huge icon"></i>-->
                </div>

            </div>
        </div>

        <div data-ng-show="!logged" class="ui grid">
            <div class="eight wide column">
                <div class="ui piled segment">
                    <h4 class="ui header">Dlaczego DeliverIT?</h4>
                    <p><i class="secondary-dark-color circular users icon"></i>Media społecznościowe ułatwiają nam życie w wielu dziedzinach, przyszedł czas na przewóz towarów!</p>
                    <p><i class="secondary-dark-color Money icon"></i>Możesz zarobić lub też uzyskać zwrot kosztów przejazdu zabierając komuś paczkę!</p>
                    <p><i class="secondary-dark-color Dropbox Square icon"></i>Potrzebujesz przewieść jeszcze dziś paczkę? Nic prostszego! Wyszukaj odpowiedni transport i wyślij cokolwiek chcesz!</p>
                    <p><i class="secondary-dark-color Thumbs Outline Up icon"></i>Zarejestruj się i weż udział w tworzeniu nowej spełeczności</p>
                </div>
            </div>
            <div class="four wide column">
                <h2 style="margin-top:30px" class="center aligned ui icon massive header">
                    <i class="accent-color Sign in icon"></i>
                    <div class="content">
                        <a type="button" href="#login" class="massive ui accent-color button">Zaloguj się!</a>
                    </div>
                </h2>
            </div>
            <div class="four wide column">
                <h2 style="margin-top:30px" class="center aligned ui icon massive header">
                    <i class="accent-color add User icon"></i>
                    <div class="content">
                        <a type="button" href="#register"  class="massive ui accent-color button">Zarejestruj się!</a>
                    </div>
                </h2>
            </div>
        </div>

        <h4 class="ui horizontal divider header">
            <i class="accent-color Star icon"></i>
        </h4>
        <div class="ui four steps">
            <div class="active step">
                <i class="primary-color search icon"></i>
                <div class="content">
                    <div class="title">Wyszukaj przejazd</div>
                </div>
            </div>
            <div class="step">
                <i class="primary-color Write icon"></i>
                <div class="content">
                    <div class="title">Zarezerwuj miejsce</div>
                </div>
            </div>
            <div class="step">
                <i class="primary-color Send Outline icon"></i>
                <div class="content">
                    <div class="title">Wyślij przesyłkę</div>
                </div>
            </div>
            <div class="step">
                <i class="primary-color Child icon"></i>
                <div class="content">
                    <div class="title">Bądź usatysfakcjonowany</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Nie wiem czemu ale tylko w tej formie gwiazdki dzialaja tak jak trzeba-->
<script>
    $(document).ready(function(){
        $('.ui.rating')
                .rating();
        $('#greeting-title').mouseenter(function () {
            $('#title-shape').shape('flip up');
        });
        $('#title-shape').shape();
    });

</script>