<div data-ng-controller="MyMessagesController">
    <div data-ng-show="logged" class="ui grid centered">
        <div class="row">
            <div class="ten wide column center aligned">
                <button style="display: inline-block" class="ui medium teal button" ng-click="setView('send')" type="button"><i class="Edit icon"></i>Napisz</button>
                <button style="display: inline-block" data-ng-disabled="currentViewText=='Odebrane wiadomości'" class="ui medium teal button" ng-click="setView('received')" type="button">Odebrane</button>
                <button style="display: inline-block" data-ng-disabled="currentViewText=='Wysłane wiadomości'" class="ui medium teal button" ng-click="setView('sent')" type="button">Wysłane</button>
            </div>
        </div>
        <div class="row">
            <div class="ten wide column">
                <h4 class="ui horizontal divider header">
                    <i class="Mail icon"></i>
                    {{currentViewText}}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="ten wide column">
                <table data-ng-if="messages.length > 0" class="ui padded celled teal table" style="margin-top: 20px">
                    <tbody>
                    <tr data-ng-repeat="message in messages">
                        <td>
                            <h4><a class="accent-color-link" type="button" ng-click="showMsg(message.id)">{{message.title}}</a></h4>
                        </td>
                        <td>
                            {{message.date | date: 'short'}}
                        </td>
                        <td>
                            <a class="accent-color-link" href="#/profile/{{message.author.id}}" type="button">
                                <span ng-if="currentViewText=='Odebrane wiadomości'">Od: </span>
                                <span ng-if="currentViewText=='Wysłane wiadomości'">Do: </span>
                                {{message.author.name}} {{message.author.surname}}
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="ui Orange segment" data-ng-if="messages.length === 0">
                    Nie ma tu jeszcze żadnych wiadomości.
                </div>
            </div>
        </div>
    </div>
    <div class="ui small modal" id="sendMsgModal">
        <div class="ui grid stackable" style="margin-top: 20px; margin-bottom: 20px; margin-left: 20px; margin-right: 20px">
            <div class="eight wide column centered">
                <form class="ui form" name="sendMsgModalForm" data-ng-submit="sendMsg()" novalidate>
                    <ul>
                        <li class="has-error" data-ng-show="sendMsgModalForm.receiverEmail.$invalid && sendMsgModalForm.receiverEmail.$touched" class="help-block">Odbiorca jest wymagany</li>
                        <li class="has-error" data-ng-show="sendMsgModalForm.title.$invalid && sendMsgModalForm.title.$touched" class="help-block">Pole Tytuł wiadomości jest puste!</li>
                        <li class="has-error" data-ng-show="receiverDoesntExist" class="help-block">Podany odbiorca nie istnieje!</li>
                        <li class="has-error" data-ng-show="receiverAndAuthorAreTheSame" class="help-block">Nie możesz wysyłać wiadomości do samego siebie!</li>
                    </ul>
                    <div class="field" data-ng-class="{'error' : sendMsgModalForm.receiverEmail.$invalid && sendMsgModalForm.receiverEmail.$touched }">
                        <label><i class="User icon"></i>Odbiorca</label>
                        <input data-ng-model="sendMessage.receiverEmail" type="email" name="receiverEmail" placeholder="odbiorca@gmail.com" maxlength="100" required>
                    </div>
                    <div class="field" data-ng-class="{'error' : sendMsgModalForm.title.$invalid && sendMsgModalForm.title.$touched }">
                        <label><i class="Edit icon"></i>Tytuł wiadomości</label>
                        <input data-ng-model="sendMessage.title" type="text" name="title" placeholder="Tytuł wiadomości" maxlength="100">
                    </div>
                    <div class="field" data-ng-class="{'error' : sendMsgModalForm.content.$invalid && sendMsgModalForm.content.$touched }">
                        <label><i class="Newspaper icon"></i>Treść wiadomości</label>
                        <textarea data-ng-model="sendMessage.content" type="text" name="content" placeholder="Treść wiadomości" maxlength="500"></textarea>
                    </div>
                    <button data-ng-disabled="sendMsgModalForm.$invalid" class="ui left floated medium teal button" type="submit">Wyslij</button>
                </form>
            </div>
        </div>
    </div>
    <div class="ui small modal" id="viewMsgModal">
        <div class="ui grid stackable" style="margin-top: 20px; margin-bottom: 20px; margin-left: 20px; margin-right: 20px">
            <div class="eight wide column centered">
                <div class="inline field">
                    <h4><i class="User icon"></i>Nadawca</h4>
                    <p></p>
                </div>
                <div class="inline field">
                    <h4><i class="User icon"></i>Odbiorca</h4>
                    <p></p>
                </div>
                <div class="field">
                    <h4><i class="Calendar icon"></i>Data wysłania</h4>
                    {{viewMessage.date}}
                </div>
                <div class="field">
                    <h4><i class="Edit icon"></i>Tytuł wiadomości</h4>
                    {{viewMessage.title}}
                </div>
                <div class="field">
                    <h4><i class="Newspaper icon"></i>Treść wiadomości</h4>
                    {{viewMessage.content}}
                </div>
            </div>
        </div>
    </div>
</div>
