<div data-ng-controller="MyMessagesController">
    <div data-ng-show="logged" class="ui grid centered">
        <div class="row">
            <div class="ten wide column center aligned">
                <button style="display: inline-block" data-ng-disabled="currentViewText=='Odebrane wiadomości'" class="ui medium teal button" ng-click="setView('received')" type="button">Odebrane</button>
                <button style="display: inline-block" data-ng-disabled="currentViewText=='Wysłane wiadomości'" class="ui medium teal button" ng-click="setView('sent')" type="button">Wysłane</button>
            </div>
        </div>
        <div class="row">
            <div class="ten wide column">
                <h4 class="ui horizontal divider header">
                    <i class="Mail icon"></i>
                    {{currentViewText}}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="ten wide column">
                <table data-ng-if="messages.length > 0" class="ui padded celled teal table" style="margin-top: 20px">
                    <tbody>
                    <tr data-ng-repeat="message in messages">
                        <td>
                            <h4><a class="accent-color-link" type="button" ng-click="showMsg(message.id)">{{message.title | limitTo : 20}}</a></h4>
                        </td>
                        <td>
                            {{message.date | date: 'short'}}
                        </td>
                        <td>
                            <a class="accent-color-link" href="#/profile/{{message.author.id}}" type="button">
                                <span ng-if="currentViewText=='Odebrane wiadomości'">Od: {{message.author.name}} {{message.author.surname}}</span>
                                <span ng-if="currentViewText=='Wysłane wiadomości'">Do: {{message.receiver.name}} {{message.receiver.surname}}</span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="ui Orange segment" data-ng-if="messages.length === 0">
                    Nie ma tu jeszcze żadnych wiadomości.
                </div>
            </div>
        </div>
    </div>

    <div class="ui small modal" id="sendMsgModal">
        <div class="ui grid stackable" style="margin-top: 20px; margin-bottom: 20px; margin-left: 20px; margin-right: 20px">
            <div class="eight wide column centered">
                <form class="ui form" name="sendMsgModalForm" data-ng-submit="sendMsg()" novalidate>
                    <div class="header">
                        <h2 class="ui horizontal divider header"><i class="Mail icon"></i></h2>
                        <ul>
                            <li class="has-error" data-ng-show="sendMsgModalForm.title.$invalid && sendMsgModalForm.title.$touched" class="help-block">Pole Tytuł wiadomości jest puste!</li>
                            <li class="has-error" data-ng-show="receiverDoesntExist" class="help-block">Podany odbiorca nie istnieje!</li>
                        </ul>
                        <div class="field" data-ng-class="{'error' : sendMsgModalForm.title.$invalid && sendMsgModalForm.title.$touched }">
                            <label><i class="Edit icon"></i>Tytuł wiadomości</label>
                            <input data-ng-model="sendMessage.title" type="text" name="title" placeholder="" maxlength="50" required>
                        </div>
                    </div>
                    <div class="field" style="margin-top:20px; margin-bottom : 15px;">
                        <label><i class="User icon"></i>Odbiorca</label>
                        {{viewMessage.author.name}} {{viewMessage.author.surname}}
                    </div>
                    <div class="field" data-ng-class="{'error' : sendMsgModalForm.content.$invalid && sendMsgModalForm.content.$touched }">
                        <label><i class="Newspaper icon"></i>Treść wiadomości</label>
                        <textarea data-ng-model="sendMessage.content" type="text" name="content" placeholder="Treść wiadomości" maxlength="500"></textarea>
                    </div>
                    <button data-ng-disabled="sendMsgModalForm.$invalid" class="ui left floated medium teal button" type="submit">Wyslij</button>
                </form>
            </div>
        </div>
    </div>

    <div class="ui small modal" id="viewMsgModal">
        <div class="ui grid stackable" style="margin-top: 20px; margin-bottom: 20px; margin-left: 20px; margin-right: 20px">
            <form class="ui form" novalidate>
                <div class="eight wide column">
                    <div class="header">
                        <h2 class="ui horizontal divider header"><i class="Mail icon"></i></h2>
                        <p style="color : dimgrey; text-align: center">{{viewMessage.date}}</p>
                        <div class="field">
                            <h4 style="text-align: center">{{viewMessage.title}}</h4>
                        </div>
                    </div>
                    <div class="ui grid stackable center aligned">
                        <div class="eight wide column">
                            <div class="field" style="margin-top:20px; margin-bottom : 15px;">
                                <h4><i class="User icon"></i>Nadawca</h4>
                                <p>
                                    {{viewMessage.author.name}} {{viewMessage.author.surname}}
                                </p>
                            </div>
                        </div>
                        <div class="eight wide column">
                            <div class="field" style="margin-top:20px; margin-bottom : 15px;">
                                <h4><i class="User icon"></i>Odbiorca</h4>
                                <p>
                                    {{viewMessage.receiver.name}} {{viewMessage.receiver.surname}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <textarea readonly type="text" maxlength="500">{{viewMessage.content}}</textarea>
                    </div>
                    <div class="footer">
                        <button style="display: inline-block; margin-top: 15px" class="ui right floated medium teal button" ng-click="reply()" type="button">Odpowiedz</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
