<div data-ng-controller="MyPackagesController">
    <div class="ui grid centered">
        <div data-ng-show="logged">
            <div margin-top-loader data-ng-if="!contentLoaded">
                <div class="ui active large centered inline loader"></div>
            </div>
            <div class="ui Orange segment" data-ng-if="reservations.length === 0 && contentLoaded">
                Nie posiadasz jeszcze swoich paczek.
            </div>
            <table data-ng-if="reservations.length > 0 && contentLoaded" class="ui very basic collapsing celled table">
                <thead>
                <tr>
                    <th>
                        ID rezerwacji
                    </th>
                    <th>
                        Tytuł ogłoszenia
                    </th>
                    <th>
                        Data rezerwacji paczki
                    </th>
                    <th>
                        Status rezerwacji
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="reservation in reservations">
                    <td>
                        {{reservation.reservationId}}
                    </td>
                    <td>
                        <h4><a class="accent-color-link" href="#/transports/{{reservation.transportId}}" type="button">{{reservation.transportTitle}}</a></h4>
                    </td>
                    <td>
                        {{reservation.creationDate | date: 'short'}}
                    </td>
                    <td>
                        <span data-ng-if="reservation.state === 'ACCEPTED'" style="color: green">Zaakceptowano</span>
                        <span data-ng-if="reservation.state === 'REJECTED'" style="color: red">Odrzucono</span>
                        <span data-ng-if="reservation.state === 'NOTACCEPTED'" style="color: orange">Czeka na weryfikację</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>