    <div data-ng-controller="MyTransportsController">
    <div class="ui grid centered">
        <div class="margin-top-loader" data-ng-if="!contentLoaded">
            <div class="ui active large centered inline loader"></div>
        </div>
        <div class="ui Orange segment" data-ng-if="transports.transports.length === 0 && contentLoaded">
            Nie posiadasz jeszcze swoich transportów.
        </div>
        <table data-ng-if="transports.transports.length > 0 && contentLoaded" class="ui very basic collapsing celled table">
            <thead>
                <tr>
                    <th>
                        Tytuł
                    </th>
                    <th>
                        Trasa
                    </th>
                    <th>
                        Czas wyjazdu
                    </th>
                    <th>
                        Rodzaje paczek
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="transport in transports.transports">
                <td>
                    <h4><a class="accent-color-link" href="#/transports/{{transport.id}}" type="button">{{transport.title}}</a></h4>
                </td>
                <td>
                    Z: {{transport.cities[0].city.name}}  Do: {{transport.cities[transport.cities.length - 1].city.name}}
                </td>
                <td>
                    {{transport.departureDate | date:'yyyy-MM-dd HH:mm'}}
                </td>
                <td>
                    <span data-ng-repeat="preference in transport.preferences">
                        {{preference.name}}
                    </span>
                </td>
                <td>
                    <span data-ng-if="transport.state === 'OPENED'">Otwarty na rezerwacje</span>
                    <span data-ng-if="transport.state === 'INPROGRESS'">Transport w drodze</span>
                    <span data-ng-if="transport.state === 'CLOSED'">Zamknięty na rezerwacje</span>
                    <span data-ng-if="transport.state === 'CANCELED'">Odwołany</span>
                    <span data-ng-if="transport.state === 'CANCELED24'">Odwołany na mniej niż 24h</span>
                    <span data-ng-if="transport.state === 'OVER'">Transport zakończony</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>