<div class="ui container" data-ng-controller="ProfileController">

    <div class="ui grid stackable">
        <div class="eight wide column">
            <h4 class="ui horizontal divider header">
                <i class="user icon"></i>
                Dane użytkownika
            </h4>
            <div class="margin-top-loader" data-ng-if="!userLoaded">
                <div class="ui active large centered inline loader"></div>
            </div>
            <div class="ui red segment center aligned" data-ng-if="user === null && userLoaded">
                Błąd serwera. Nie można wczytać użytkownika.
            </div>
            <div data-ng-if="userLoaded && user !== null" class="ui two column grid stackable">
                <div class="column center aligned">
                    <div class="ui center aligned">
                        <div class="ui header">
                            <rating id="my-rating" readonly="true" size="large" type="star" data-ng-model="user.rating | round"></rating>
                            <span data-ng-show="user.rating!=0">{{user.rating}}</span>
                            <span data-ng-show="user.rating==0">Brak ocen</span>
                        </div>
                        <div class="image right">
                            <img src="./content/pictures/brak.jpg">
                        </div>
                    </div>
                </div>
                <div class="column center aligned">
                    <div class="ui  center aligned">

                        <p>Imię: <strong>{{user.name}}</strong></p>
                        <p>Nazwisko: <strong>{{user.surname}}</strong></p>
                        <p ng-show="yanek">Data urodzenia: <strong>{{user.birthDate | date:'dd-MM-yyyy'}}</strong></p>
                        <p ng-show="yanek">Płeć: <strong>{{user.sex}}</strong></p>
                        <p>Telefon: <strong>{{user.phoneNumber}}</strong></p>
                        <p>Email: <strong>{{user.email}}</strong></p>
                        <p>Auto: <strong>{{user.car}}</strong></p>
                        <p data-ng-if="user.rating!=0">Ocena: <strong>{{user.rating}}</strong></p>
                        <p data-ng-if="user.rating==0">Ocena: <strong>Brak ocen</strong></p>
                        <a data-ng-if="isCurrentUserProfile" type="button" href="#edit-my-profile" class="ui large accent-color button">Edytuj profil</a>
                        <button data-ng-if="!isCurrentUserProfile" style="display: inline-block; margin-top: 15px" class="ui right floated medium teal button" ng-click="contact()" type="button"><i class="Mail icon"></i>Napisz</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="eight wide column">
            <h4 class="ui horizontal divider header">
                <i class="Write icon"></i>
                Komentarze
            </h4>
            <div class="margin-top-loader" data-ng-if="!commentLoaded">
                <div class="ui active large centered inline loader"></div>
            </div>
            <div class="ui red segment center aligned" data-ng-if="comments === null && commentLoaded">
                Błąd serwera. Nie można wczytać komentarzy.
            </div>
            <div class="ui Orange segment center aligned" data-ng-if="comments.length === 0 && commentLoaded">
                Użytkownik nie posiada jeszcze żadnych komentarzy.
            </div>
            <div data-ng-if="comments.length > 0 && commentLoaded" class="ui comments">
                <div class="comment" data-ng-repeat="comment in comments">
                    <a class="avatar">
                        <img src="./content/pictures/brak.jpg">
                    </a>
                    <div class="content">
                        <a class="author" href="#/profile/{{comment.author.id}}" type="button">{{comment.author.name}} {{comment.author.surname}}</a>
                        <div class="metadata">
                            <rating id="my-rating{{comment.id}}" readonly="true" size="small" type="star" data-ng-model="comment.rate"></rating>
                            <span class="date">{{comment.date}}</span>
                        </div>
                        <div class="text">
                            {{comment.content}}
                        </div>
                        <div class="actions">
                            <a data-ng-click="openReplyCommentModal(commentId)" data-ng-if="comment.response === null && isCurrentUserProfile" class="reply">Odpowiedz</a>
                        </div>
                    </div>
                    <div data-ng-if="comment.response !== null" class="comments">
                        <div class="comment">
                            <a class="avatar">
                                <img src="./content/pictures/brak.jpg">
                            </a>
                            <div class="content">
                                <a class="author">{{user.name}} {{user.surname}}</a>
                                <div class="metadata">
                                    <span class="date">{{comment.response.date}}</span>
                                </div>
                                <div class="text">
                                    {{comment.response.content}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui small modal" id="sendMsgModal">
        <div class="ui grid stackable" style="margin-top: 20px; margin-bottom: 20px; margin-left: 20px; margin-right: 20px">
            <div class="eight wide column centered">
                <form class="ui form" name="sendMsgModalForm" data-ng-submit="sendMsg()" novalidate>
                    <div class="header">
                        <h2 class="ui horizontal divider header"><i class="Mail icon"></i></h2>
                        <ul>
                            <li class="has-error" data-ng-show="sendMsgModalForm.title.$invalid && sendMsgModalForm.title.$touched" class="help-block">Pole Tytuł wiadomości jest puste!</li>
                            <li class="has-error" data-ng-show="receiverDoesntExist" class="help-block">Podany odbiorca nie istnieje!</li>
                        </ul>
                        <div class="field" data-ng-class="{'error' : sendMsgModalForm.title.$invalid && sendMsgModalForm.title.$touched }">
                            <label><i class="Edit icon"></i>Tytuł wiadomości</label>
                            <input data-ng-model="sendMessage.title" type="text" name="title" placeholder="" maxlength="50" required>
                        </div>
                    </div>
                    <div class="field" style="margin-top:20px; margin-bottom : 15px;">
                        <label><i class="User icon"></i>Odbiorca</label>
                        {{user.name}} {{user.surname}}
                    </div>
                    <div class="field" data-ng-class="{'error' : sendMsgModalForm.content.$invalid && sendMsgModalForm.content.$touched }">
                        <label><i class="Newspaper icon"></i>Treść wiadomości</label>
                        <textarea data-ng-model="sendMessage.content" type="text" name="content" placeholder="Treść wiadomości" maxlength="500"></textarea>
                    </div>
                    <button data-ng-disabled="sendMsgModalForm.$invalid" class="ui left floated medium teal button" type="submit">Wyslij</button>
                </form>
            </div>
        </div>
    </div>
</div>