<div class="ui container" data-ng-controller="ProfileController">

    <div class="ui grid stackable">
        <div class="eight wide column">
            <h4 class="ui horizontal divider header">
                <i class="user icon"></i>
                Dane użytkownika
            </h4>
            <div class="ui two column grid stackable">
                <div class="column center aligned">
                    <div class="ui center aligned">
                        <div class="ui header">
                            <rating id="my-rating" readonly="true" size="large" type="star" data-ng-model="user.rating | round"></rating>
                            <span data-ng-show="user.rating!=0">{{user.rating}}</span>
                            <span data-ng-show="user.rating==0">Brak ocen</span>
                        </div>
                        <div class="image right">
                            <img src="./content/pictures/brak.jpg">
                        </div>
                    </div>
                </div>
                <div class="column center aligned">
                    <div class="ui  center aligned">

                        <p>Imię: <strong>{{user.name}}</strong></p>
                        <p>Nazwisko: <strong>{{user.surname}}</strong></p>
                        <p>Data urodzenia: <strong>{{user.birthDate | date:'dd-MM-yyyy'}}</strong></p>
                        <p>Płeć: <strong>{{user.sex}}</strong></p>
                        <p>Telefon: <strong>{{user.phoneNumber}}</strong></p>
                        <p>Email: <strong>{{user.email}}</strong></p>
                        <p>Auto: <strong>{{user.car}}</strong></p>
                        <p data-ng-show="user.rating!=0">Ocena: <strong>{{user.rating}}</strong></p>
                        <p data-ng-show="user.rating==0">Ocena: <strong>Brak ocen</strong></p>
                        <a data-ng-show="isCurrentUserProfile" type="button" href="#edit-my-profile" class="ui large accent-color button">Edytuj profil</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="eight wide column">
            <h4 class="ui horizontal divider header">
                <i class="Write icon"></i>
                Komentarze
            </h4>
            <div class="ui comments">
                <div class="comment">
                    <a class="avatar">
                        <img src="./content/pictures/lolek.jpg">
                    </a>
                    <div class="content">
                        <a class="author">Matt</a>
                        <div class="metadata">
                            <span class="date">Today at 5:42PM</span>
                        </div>
                        <div class="text">
                            How artistic!
                        </div>
                    </div>
                    <div class="comments">
                        <div class="comment">
                            <a class="avatar">
                                <img src="./content/pictures/daniel.jpg">
                            </a>
                            <div class="content">
                                <a class="author">Jenny Hess</a>
                                <div class="metadata">
                                    <span class="date">Just now</span>
                                </div>
                                <div class="text">
                                    Elliot you are always so right :)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <a class="avatar">
                        <img src="./content/pictures/maciek.jpg">
                    </a>
                    <div class="content">
                        <a class="author">Elliot Fu</a>
                        <div class="metadata">
                            <span class="date">Yesterday at 12:30AM</span>
                        </div>
                        <div class="text">
                            <p>This has been very useful for my research. Thanks as well!</p>
                        </div>
                    </div>
                    <div class="comments">
                        <div class="comment">
                            <a class="avatar">
                                <img src="./content/pictures/daniel.jpg">
                            </a>
                            <div class="content">
                                <a class="author">Jenny Hess</a>
                                <div class="metadata">
                                    <span class="date">Just now</span>
                                </div>
                                <div class="text">
                                    Elliot you are always so right :)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>