<div class="ui container"  ng-controller="RegisterController">
    <form ng-show="!correctRegister" class="ui form" name="registerForm" ng-submit="onRegister()" novalidate>
        <div class="ui grid stackable">
            <div class="eight wide column ">
                <h4 class="ui horizontal divider header">
                    <i class="sign in icon"></i>
                    Dane konta
                </h4>
                <ul>
                    <li class="has-error" ng-show="duplicateEmail=='Duplicated Email'" class="help-block">Użytkownik o podanym adresie email już istnieje</li>
                    <li class="has-error" ng-show="registerForm.email.$invalid && registerForm.email.$touched" class="help-block">Email jest wymagany</li>
                    <li class="has-error" ng-show="registerForm.password.$invalid && registerForm.password.$touched" class="help-block">Hasło jest wymagane</li>
                    <li class="has-error" ng-show="registerForm.password.$touched && registerForm.passwordAgain.$touched && user.password != passwordAgain" class="help-block">Hasło oraz jego potwierdzenie się różnią</li>
                </ul>
                <div class="field" ng-class="{'error' : registerForm.email.$invalid && registerForm.email.$touched }">
                    <label>Email</label>
                    <input ng-model="user.email" type="text" name="email" placeholder="Email" required>
                </div>
                <div class="field" ng-class="{'error' : registerForm.password.$invalid && registerForm.password.$touched }">
                    <label></i>Hasło</label>
                    <input ng-model="user.password" type="text" name="password" placeholder="Hasło" required>
                </div>
                <div class="field" ng-class="{'error' : registerForm.passwordAgain.$invalid && registerForm.passwordAgain.$touched }">
                    <label>Potwierdź hasło</label>
                    <input ng-model="passwordAgain" type="text" name="passwordAgain" placeholder="Potwierdź hasło" required>
                </div>
            </div>
            <div class="eight wide column center aligned">

            </div>
        </div>
        <div class="ui grid stackable">
            <div class="eight wide column ">
                <h4 class="ui horizontal divider header">
                    <i class="user icon"></i>
                    Dane użytkownika
                </h4>
                <ul>
                    <li class="has-error" ng-show="registerForm.name.$invalid && registerForm.name.$touched" class="help-block">Imię jest wymagane</li>
                    <li class="has-error" ng-show="registerForm.surname.$invalid && registerForm.surname.$touched" class="help-block">Nazwisko jest wymagane</li>
                    <li class="has-error" ng-show="registerForm.birthDate.$invalid && registerForm.birthDate.$touched" class="help-block">Data urodzenia jest wymagana</li>
                </ul>
                 <div class="field" ng-class="{'error' : registerForm.name.$invalid && registerForm.name.$touched }">
                     <label>Imię</label>
                     <input ng-model="user.name" type="text" name="name" placeholder="Imię" required>
                 </div>
                 <div class="field" ng-class="{'error' : registerForm.surname.$invalid && registerForm.surname.$touched }">
                     <label>Nazwisko</label>
                     <input ng-model="user.surname" type="text" name="surname" placeholder="Nazwisko" required>
                 </div>
                 <div class="field" ng-class="{'error' : registerForm.phoneNumber.$invalid && registerForm.phoneNumber.$touched }">
                     <label>Telefon</label>
                     <input ng-model="user.phoneNumber" type="text" name="phoneNumber" placeholder="Telefon">
                 </div>
                 <div class="field" ng-class="{'error' : registerForm.birthDate.$invalid && registerForm.birthDate.$touched }">
                     <label>Data urodzenia</label>
                     <input ng-model="user.birthDate" type="date" name="birthDate" value="{{user.birthDate}}" required>
                 </div>
                 <div class="field" ng-class="{'error' : registerForm.car.$invalid && registerForm.car.$touched }">
                     <label>Auto</label>
                     <input ng-model="user.car" type="text" name="car" placeholder="Auto">
                 </div>
                <div class="field">
                    <label>Płeć:</label>
                    <select class="ui dropdown" ng-model="user.sex">
                        <option value=""></option>
                        <option value="M">Mężczyzna</option>
                        <option value="K">Kobieta</option>
                    </select>
                </div>
                <button ng-disabled="registerForm.$invalid" href="#/" class="ui right floated large accent-color button" type="submit">Zarejestruj</button>
            </div>
            <div class="eight wide column center aligned">
                <h4 class="ui horizontal divider header">
                    <i class="Photo icon"></i>
                    Zdjęcie
                </h4>
                <div class="ui large accent-color button">Wybierz</div>
            </div>
        </div>
    </form>
    <div ng-show="correctRegister" class="ui centered card">
        <div class="content">
            <div class="header">
                Gratulacje! :)
            </div>
            <div class="meta">
                {{user.name}} {{user.surname}}
            </div>
            <div class="description">
                Udało Ci się zarejestrować poprawnie! Zaloguj się do systemu przy pomocy danych podanych przy rejestracji.
            </div>
        </div>
        <div class="extra content">
            <div class="ui two buttons">
                <a href="#/login" class="ui right floated large accent-color button">Przejdź do logowania</a>
            </div>
        </div>
    </div>
    <script>
    $('.ui.radio.checkbox')
            .checkbox()
    ;
    $('select.dropdown')
            .dropdown()
    ;
    </script>
</div>