<div class="ui container" ng-controller="SearchTransportController">
    <div class="ui grid stackable">
        <div class="column">
            <h4 class="ui horizontal divider header">
                <i class="Shipping icon"></i>
                Wyszukiwanie
            </h4>
            <ul>
                <li class="has-error" ng-show="searchTransportsForm.sourceCity.$invalid && searchTransportsForm.sourceCity.$touched" class="help-block">Miasto startowe jest wymagane</li>
                <li class="has-error" ng-show="searchTransportsForm.destinationCity.$invalid && searchTransportsForm.destinationCity.$touched" class="help-block">Miasto docelowe jest wymagane</li>
                <li class="has-error" ng-show="searchTransportsForm.departureDate.$invalid && searchTransportsForm.date.$touched" class="help-block">Data wyjazdu jest wymagana</li>
            </ul>
            <div class="ui grid stackable">
                <div class="five wide column">
                </div>
                <div class="four wide column">
                    <form class="ui form" name="searchTransportsForm" ng-submit="onSearch()" novalidate>
                        <div class="field" ng-class="{'error' : searchTransportsForm.sourceCity.$invalid && searchTransportsForm.sourceCity.$touched }">
                            <label><i class="Flag Outline icon"></i>Miasto początkowe</label>
                            <select id="sourceCity" name="sourceCity" ng-model="searchTransport.sourceCity" ng-options="sourceCity.name for sourceCity in cities" required>
                            </select>
                        </div>
                        <div class="field" ng-class="{'error' : searchTransportsForm.destinationCity.$invalid && searchTransportsForm.destinationCity.$touched }">
                            <label><i class="Flag icon"></i>Miasto docelowe</label>
                            <select id="destinationCity" name="destinationCity" ng-model="searchTransport.destinationCity" ng-options="sourceCity.name for sourceCity in cities" required>
                            </select>
                        </div>
                        <div class="field" ng-class="{'error' : searchTransportsForm.date.$invalid && searchTransportsForm.date.$touched }">
                            <label><i class="Calendar icon"></i>Data nadania paczki</label>
                            <input ng-model="searchTransport.date" type="date" name="departureDate" id="departureDate" required>
                        </div>
                    </form>
                </div>
                <div class="three wide column">
                    <form class="ui form">
                        <div class="grouped fields">
                            <label><i class="Suitcase icon"></i>Akceptowane paczki</label>
                            <div class="field">
                                <div style="display: block; margin-bottom: 5px" class="ui slider checkbox" ng-repeat="preference in preferences">
                                    <input
                                            type="checkbox"
                                            name="selectedPreferences[]"
                                            value="{{preference.id}}"
                                            ng-checked="selection.indexOf(preference) > -1"
                                            ng-click="toggleSelection(preference)"
                                    >
                                    <label>{{preference.name}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <button class="ui left floated large accent-color button" ng-click="onSearch()" type="submit">Wyszukaj</button>
                        </div>
                    </form>
                </div>
                <div class="four wide column">
                </div>
            </div>
        </div>
    </div>
    <div id="searchResults" ng-show="searchResults">
        <h4 class="ui horizontal divider header">
            <i class="Shipping icon"></i>Wyszukane przejazdy
        </h4>
        <div class="ui grid centered" ng-show="searchNotFound">
            Nie znaleziono przejazdów dla zadanych parametrów
        </div>

        <div class="ui grid centered">
            <i class="Big Angle Left icon" ng-click="searchPrevious()" style="cursor: hand;"></i>
            <label>  Strona {{pageNumber}} z {{totalPages}}  </label>
            <i class="Big Angle Right icon" ng-click="searchNext()" style="cursor: hand;"></i>
        </div>
        <div class="ui grid centered">
            <h4 class="ui horizontal divider header"></h4>
            <div class="field">
                <label> Sortuj wg: </label>
                <select name="sortBy" id="sortBy">
                    <option value="bydateasc">Daty - rosnąco</option>
                    <option value="bydatedesc">Daty - malejąco</option>
                    <option value="byratingasc">Oceny - rosnąco</option>
                    <option value="byratingdesc">Oceny - malejąco</option>
                </select>
            </div>
        </div>
        <div class="ui grid centered">
            <table class="ui very basic collapsing celled table">
                <thead>
                <tr>
                    <th>
                        Kierowca
                    </th>
                    <th>
                        Tytuł
                    </th>
                    <th>
                        Trasa
                    </th>
                    <th>
                        Czas wyjazdu
                    </th>
                    <th>
                        Rodzaje paczek
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="transport in transports ">
                    <td>
                        <h4 class="ui image header">
                            <i class="user icon"></i>
                            <div class="content">
                                <p>{{transport.driver.name}} {{transport.driver.surname}}</p>
                                <p></p><rating id="my-rating{{transport.driver.userId}}" size="small" type="star" ng-model="transport.driver.rating"></rating></p>
                                <p><div class="sub header">Ocena: {{transport.driver.rating}}</div></p>
                            </div>

                        </h4>
                    </td>
                    <td>
                        <a class="transport-title" href="#/transport/{{transport.id}}" type="button">{{transport.title}}</a>
                    </td>
                    <td>
                        Z: {{transport.sourceCity}}  Do: {{transport.destinationCity}}
                    </td>
                    <td>
                        {{transport.departureDate | date: 'short'}}
                    </td>
                    <td>
                    <span ng-repeat="preference in transport.preferences">
                        {{preference.name}}
                    </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="ui grid centered">
            <i class="Big Angle Left icon" ng-click="searchPrevious()" style="cursor: hand;"></i>
            <label>  Strona {{pageNumber}} z {{totalPages}}  </label>
            <i class="Big Angle Right icon" ng-click="searchNext()" style="cursor: hand;"></i>
        </div>
    </div>
</div>
</div>
