<div class="ui container" ng-controller="SearchTransportController">
    <div class="ui grid stackable">
        <div class="column">
            <h4 class="ui horizontal divider header">
                <i class="Shipping icon"></i>
                Wyszukiwanie
            </h4>
            <div class="ui grid stackable">
                <div class="five wide column">
                </div>
                <div class="four wide column">
                    <form class="ui form">
                        <div class="field">
                            <label><i class="Flag Outline icon"></i>Miasto początkowe</label>
                            <select id="sourceCity" name="sourceCity" ng-model="$searchTransport.sourceCity" ng-options="sourceCity.name for sourceCity in cities" required>
                            </select>
                        </div>
                        <div class="field">
                            <label><i class="Flag icon"></i>Miasto docelowe</label>
                            <select id="destinationCity" name="destinationCity" ng-model="$searchTransport.destinationCity" ng-options="sourceCity.name for sourceCity in cities" required>
                            </select>
                        </div>
                        <div class="field">
                            <label><i class="Calendar icon"></i>Data nadania paczki</label>
                            <input ng-model="$searchTransport.date" type="date" name="transport-date" id="transport-date">
                        </div>
                    </form>
                </div>
                <div class="two wide column">
                    <form class="ui form">
                        <div class="grouped fields">
                            <label>Rodzaje paczek</label>
                            <div class="field">
                                <div style="display: block; margin-bottom: 5px" class="ui slider checkbox" ng-repeat="packtype in preferences">
                                    <input
                                            type="checkbox"
                                            name="selectedPacktypes[]"
                                            value="{{packtype}}"
                                            ng-checked="selection.indexOf(packtype) > -1"
                                            ng-click="toggleSelection(packtype)"
                                    >
                                    <label>{{packtype.name}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <button class="ui left floated large accent-color button" ng-click="onSearch()" type="submit">Wyszukaj</button>
                        </div>
                    </form>
                </div>
                <div class="five wide column">
                </div>
            </div>
        </div>
    </div>
    <div id="searchResults" ng-show="searchResults">
        <h4 class="ui horizontal divider header">
            <i class="Shipping icon"></i>Wyszukane przejazdy
        </h4>
        <table class="ui very basic collapsing celled table">
            <thead>
            <tr>
                <th>
                    <span class="orderBy" ng-click="changeOrder('rating')">
                        Kierowca
                    </span>
                    <span class="sortorder" ng-show="order === 'rating'" ng-class="{reverse:reverse}"></span>
                </th>
                <th>
                    Tytuł
                </th>
                <th>Trasa</th>
                <th>
                    <span class="orderBy" ng-click="changeOrder('departureDate')">
                        Czas wyjazdu
                    </span>
                    <span class="sortorder" ng-show="order === 'departureDate'" ng-class="{reverse:reverse}"></span>
                </th>
                <th>Rodzaje paczek</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="transport in transports | orderBy:order:reverse">
                <td>
                    <h4 class="ui image header">
                        <i class="user icon"></i>
                        <div class="content">
                            <p>{{transport.name}} {{transport.surname}}</p>
                            <p></p><rating id="my-rating{{transport.idUser}}" size="small" type="star" ng-model="transport.rating | round"></rating></p>
                            <p><div class="sub header">Ocena: {{transport.rating}}</div></p>
                        </div>

                    </h4>
                </td>
                <td>
                    <a class="transport-title" href="#/transport/{{transport.idTransport}}" type="button">{{transport.title}}</a>
                </td>
                <td>
                    Z: {{transport.sourceCity}}  Do: {{transport.destinationCity}}
                </td>
                <td>
                    {{transport.departureDate | date: 'short'}}
                </td>
                <td>
                    <span ng-repeat="type in transport.packTypes">
                        {{type}}
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
