<div class="ui container" data-ng-controller="ShowTransportController">
    <div data-ng-if="error" class="ui centered card red">
            <div class="content center aligned">
                <div class="header">
                    Przykro mi! :(
                </div>
                <div class="description">
                    Nie ma takiego transportu.
                </div>
            </div>
    </div>
    <div data-ng-if="!error" class="ui grid stackable">
        <div class="four wide column center aligned">
            <div class="row">
                <h4 class="ui horizontal divider header">
                    <i class="user icon"></i>
                    Kierowca
                </h4>
                <div class="grow">
                    <a href="#/profile/{{transport.driver.id}}">
                        <div class="ui header">
                            <rating id="my-rating" size="large" type="star" readonly="true" data-ng-model="transport.driver.rating | round"></rating>
                            <span>{{transport.driver.rating}}</span>
                        </div>
                        <img data-ng-click="" class="profile-image image center ui tiny" src="./content/pictures/brak.jpg">
                        <div class="description">
                            <p>Imię: <strong>{{transport.driver.name}}</strong></p>
                            <p>Nazwisko: <strong>{{transport.driver.surname}}</strong></p>
                            <p>Auto: <strong>{{transport.driver.car}}</strong></p>
                            <p>Telefon: <strong>{{transport.driver.phoneNumber}}</strong></p>
                            <p>Email: <strong>{{transport.driver.email}}</strong></p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row ">
                <h4 class="ui horizontal divider header">
                    <i class="Calendar icon"></i>
                    Termin wyjazdu
                </h4>
                <h4>
                    {{transport.departureDate | date:'yyyy-MM-dd HH:mm'}}
                </h4>
            </div>
            <div class="row">
                <div class="four wide column center aligned ">
                    <h4 class="ui horizontal divider header">
                        <i class="Dollar icon"></i>
                        Cena
                    </h4>
                    <p><strong>{{transport.minPrice}}</strong> - <strong>{{transport.maxPrice}}</strong> zł</p>
                </div>
            </div>
        </div>
        <div class="four wide column center aligned">
            <div class="row">
                <h4 class="ui horizontal divider header">
                    <i class="Road icon"></i>
                    Trasa
                </h4>
                <div class="ui list">
                    <div class="item" data-ng-repeat="city in transport.cities">
                        <p data-ng-show="$first" ><i class="Flag Outline icon"></i><strong>{{city.city.name}}</strong></p>
                        <p data-ng-show="$middle" ><i class="Arrow Down icon"></i>{{city.city.name}}</p>
                        <p data-ng-show="$last" ><i class="Flag icon"></i><strong>{{city.city.name}}</strong></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="four wide column center aligned ">
                    <h4 class="ui horizontal divider header">
                        <i class="Dropbox icon"></i>
                        Typ paczek
                    </h4>
                    <div class="ui list">
                        <div class="item" data-ng-repeat="type in transport.preferences">
                            <p><i class="Cube icon"></i>{{type.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="eight wide column center aligned">
            <div class="row">
                <h4 class="ui horizontal divider header">
                    <i class="Write icon"></i>
                    Opis
                </h4>
                <div>
                    <h4>{{transport.title}}</h4>
                    {{transport.description}}
                </div>
            </div>
            <div class="row ">
                <h4 class="ui horizontal divider header">
                    <i class="Heartbeat icon"></i>
                    Stan
                </h4>
                <div class="transport-state" style="margin-bottom: 15px">
                    <div class="ui Yellow segment" data-ng-if="transport.state==='OPENED'">
                        Transport jest otwarty na rezerwacje.
                    </div>
                    <div class="ui Orange segment" data-ng-if="transport.state==='CLOSED'">
                        Transport jest zamknięty na rezerwacje.
                    </div>
                    <div class="ui Red segment" data-ng-if="transport.state==='CANCELED'">
                        Transport został anulowany przz admina na mniej niż 24h przez wyjazdem. .
                    </div>
                    <div class="ui Red segment" data-ng-if="transport.state==='CANCELED24'">
                        Transport został anulowany wcześniej niż 24h przez wyjazdem.
                    </div>
                    <div class="ui Olive segment" data-ng-if="transport.state==='INPROGRESS'">
                        Transport wyruszył z miasta źródłowego do docelowego przez miasta pośrednie.
                    </div>
                    <div class="ui Green segment" data-ng-if="transport.state==='OVER'">
                        Transport został zrealizowany.
                    </div>
                </div>
                <div data-ng-if="userIsDriver">
                    <div style="display: inline-block" data-ng-if="transport.state === 'INPROGRESS'">
                        <div data-ng-click="changeTransportState('OVER')" class="ui accent-color button" type="button">Zakończ transport</div>
                    </div>
                    <div style="display: inline-block" data-ng-if="false">
                        <div data-ng-click="changeTransportState('CANCELED')" class="ui accent-color button" type="button">Anuluj transport (Dostaniesz ostrzeżenie)</div>
                    </div>
                    <div style="display: inline-block" data-ng-if="transport.state === 'CLOSED'">
                        <div data-ng-click="changeTransportState('INPROGRESS')" class="ui accent-color button" type="button">Rozpocznij transport</div>
                    </div>
                    <div style="display: inline-block" data-ng-if="transport.state === 'OPENED'">
                        <div data-ng-click="changeTransportState('CLOSED')" class="ui accent-color button" type="button">Zakończ rezerwacje</div>
                    </div>
                    <div style="display: inline-block" data-ng-if="transport.state === 'OPENED' || transport.state === 'CLOSED'">
                        <div data-ng-click="changeTransportState('CANCELED24')" class="ui accent-color button" type="button">Anuluj transport</div>
                    </div>
                </div>
                <div data-ng-if="!userIsDriver && userReservation!=null">
                    <div class="ui Yellow segment" data-ng-if="userReservation.state==='NOTACCEPTED'">
                        Twoja rezerwacja oczekuje na decyzję kierowcy
                    </div>
                    <div class="ui Green segment" data-ng-if="userReservation.state==='ACCEPTED'">
                        Twoja rezerwacja została zaakceptowana przez kierowcę
                    </div>
                    <div class="ui Red segment" data-ng-if="userReservation.state==='REJECTED'">
                        Twoja rezerwacja została odrzucona przez kierowcę
                    </div>
                    <div data-ng-if="userReservation.state==='ACCEPTED' && (transport.state === 'INPROGRESS' || transport.state === 'OVER')">
                        <h4 class="ui horizontal divider header">
                            <i class="Comments icon"></i>
                            Ocena przejazdu
                        </h4>
                        <div class="left-aligned-text">
                            <div class="ui black segment">
                                <h4><i class="Shipping icon"></i>Ocena wystawiona przez kierowce</h4>
                                <div data-ng-if="angular.isUndefined(userReservation.commentByDriver) || userReservation.commentByDriver === null">
                                    Kierowca nie wystawił jeszcze oceny
                                </div>
                                <div data-ng-if="angular.isDefined(userReservation.commentByDriver) || userReservation.commentByDriver !== null">
                                    <p><rating id="my-rating{{userReservation.id}}1" size="large" type="star" readonly="true" data-ng-model="userReservation.commentByDriver.rate"></rating>{{userReservation.commentByDriver.rate}}</p>
                                    <p><i class="write icon"></i><strong>Treść komentarza</strong></p>
                                    <p>{{userReservation.commentByDriver.content}}</p>
                                    <div data-ng-if="userReservation.commentByDriver.response === null">
                                        <form class="ui form" name="replyToCommentForm" data-ng-submit="replyToComment(userReservation.commentByDriver.id, commentReply.content)" novalidate>
                                            <div class="field" data-ng-class="{'error' : replyToCommentForm.content.$invalid && replyToCommentForm.content.$touched }">
                                                <label><i class="write icon"></i>Treść odpowiedzi</label>
                                                <textarea data-ng-model="commentReply.content" type="description" maxlength="250" name="commentReply" placeholder="Odpowiedź..." required></textarea>
                                            </div>
                                            <button class="ui accent-color button" type="submit">Odpowiedz</button>
                                        </form>
                                    </div>
                                    <div data-ng-if="userReservation.commentByDriver.response !== null">
                                        <p><i class="write icon"></i><strong>Treść odpowiedzi</strong></p>
                                        <p>{{userReservation.commentByDriver.response.content}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="left-aligned-text">
                            <div class="ui black segment">
                                <h4><i class="user icon"></i>Ocena wystawiona przez Ciebie</h4>
                                <div data-ng-if="angular.isUndefined(userReservation.commentByUser) || userReservation.commentByUser === null">
                                    <form class="ui form" name="commentForm" data-ng-submit="addComment(userReservation.id)" novalidate>
                                        <div class="field">
                                            <label><i class="star icon"></i>Ocena</label>
                                            <rating id="my-rating{{userReservation.id}}2" size="large" type="star" readonly="false" ng-model="rate"></rating>
                                            {{rate}}
                                        </div>
                                        <div class="field" data-ng-class="{'error' : commentForm.content.$invalid && commentForm.content.$touched }">
                                            <label><i class="write icon"></i>Treść komentarza</label>
                                            <textarea data-ng-model="comment.content" type="description" maxlength="250" name="content" placeholder="Komentarz..." required></textarea>
                                        </div>
                                        <button class="ui accent-color button" type="submit">Dodaj</button>
                                    </form>
                                </div>
                                <div data-ng-if="angular.isDefined(userReservation.commentByUser) || userReservation.commentByUser !== null">
                                    <p><rating id="my-rating{{userReservation.id}}3" size="large" type="star" readonly="true" data-ng-model="userReservation.commentByUser.rate"></rating>{{userReservation.commentByUser.rate}}</p>
                                    <p><i class="write icon"></i><strong>Treść komentarza</strong></p>
                                    <p>{{userReservation.commentByUser.content}}</p>
                                    <div data-ng-if="userReservation.commentByUser.response !== null">
                                        <p><i class="write icon"></i><strong>Treść odpowiedzi</strong></p>
                                        <p>{{userReservation.commentByUser.response.content}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-ng-if="!userIsDriver && userReservation==null && transport.state === 'OPENED'">
                    <div data-ng-click="onModalReservation()" class="ui  large accent-color button" type="button">Zarezerwuj</div>
                </div>
            </div>
            <div data-ng-if="userIsDriver" class="row">
                <h4 class="ui horizontal divider header">
                    <i class="Book icon"></i>
                    Rezerwacje
                </h4>
                <div data-ng-if="transport.reservations.length > 0">
                    <div class="ui styled fluid accordion">
                        <div class="single-reservation" data-ng-repeat="reservation in transport.reservations">
                            <div class="title">
                                <div class="left-title">
                                    <div data-ng-if="reservation.state==='ACCEPTED'">
                                        <i class="Checkmark green large icon"></i>
                                        <span class="green-text">{{reservation.sender.name}} {{reservation.sender.surname}}</span>
                                    </div>
                                    <div data-ng-if="reservation.state==='REJECTED'">
                                        <i class="remove red large icon"></i>
                                        <span class="red-text">{{reservation.sender.name}} {{reservation.sender.surname}}</span>
                                    </div>
                                    <div data-ng-if="reservation.state==='NOTACCEPTED'">
                                        <i class="Help grey large icon"></i>
                                        <span class="gray-text">{{reservation.sender.name}} {{reservation.sender.surname}}</span>
                                    </div>
                                </div>
                                <div class="right-title">
                                    <i class="Dropbox icon"></i> Typ paczek:
                                    <span data-ng-repeat="preference in reservation.preferences">
                                            {{preference.name}}
                                    </span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="accordion-contact-data left-aligned-text">
                                    <a class="grow" style="display: inline-block" href="#/profile/{{reservation.sender.id}}" type="button">
                                        <h5 class="ui image header">
                                            <img src="./content/pictures/brak.jpg" class="ui mini image">
                                        <div class="content">
                                            <p class="margin-bottom-5px">Telefon: <strong>{{transport.driver.phoneNumber}}</strong></p>
                                            <p class="margin-bottom-5px">Email: <strong>{{transport.driver.email}}</strong></p>
                                        </div>
                                        </h5>
                                    </a>
                                </div>

                                <div data-ng-if="reservation.state==='ACCEPTED' && (transport.state === 'INPROGRESS' || transport.state === 'OVER')">
                                    <h4 class="ui horizontal divider header">
                                        <i class="Comments icon"></i>
                                        Ocena przejazdu
                                    </h4>
                                    <div class="left-aligned-text">
                                        <div class="ui black segment">
                                            <h4><i class="user icon"></i>Ocena wystawiona przez nadawcę paczki</h4>
                                            <div data-ng-if="angular.isUndefined(reservation.commentByUser) || reservation.commentByUser === null">
                                                Użytkownik nie wystawił jeszcze oceny
                                            </div>
                                            <div data-ng-if="reservation.commentByUser !== null">
                                                <p><rating id="my-rating{{reservation.id}}1" size="large" type="star" readonly="true" data-ng-model="reservation.commentByUser.rate"></rating>{{reservation.commentByUser.rate}}</p>
                                                <p><i class="write icon"></i><strong>Treść komentarza</strong></p>
                                                <p>{{reservation.commentByUser.content}}</p>
                                                <div data-ng-if="reservation.commentByUser.response === null">
                                                    <form class="ui form" name="replyToCommentForm" data-ng-submit="replyToComment(reservation.commentByUser.id, commentReply.content)" novalidate>
                                                        <div class="field" data-ng-class="{'error' : replyToCommentForm.content.$invalid && replyToCommentForm.content.$touched }">
                                                            <label><i class="write icon"></i>Treść odpowiedzi</label>
                                                            <textarea data-ng-model="commentReply.content" type="description" maxlength="250" name="commentReply" placeholder="Odpowiedź..." required></textarea>
                                                        </div>
                                                        <button class="ui accent-color button" type="submit">Odpowiedz</button>
                                                    </form>
                                                </div>
                                                <div data-ng-if="reservation.commentByUser.response !== null">
                                                    <p><i class="write icon"></i><strong>Treść odpowiedzi</strong></p>
                                                    <p>{{reservation.commentByUser.response.content}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="left-aligned-text">
                                        <div class="ui black segment">
                                            <h4><i class="Shipping icon"></i>Ocena wystawiona przez Ciebie</h4>
                                            <div data-ng-if="angular.isUndefined(reservation.commentByDriver) || reservation.commentByDriver === null">
                                                <form class="ui form" name="commentForm" data-ng-submit="addComment(reservation.id)" novalidate>
                                                    <div class="field">
                                                        <label><i class="star icon"></i>Ocena</label>
                                                        <rating data-ng-click="changeRateModel()" id="my-rating{{reservation.id}}2" size="large" type="star" readonly="false" ng-model="rate"></rating>
                                                        {{rate}}
                                                    </div>
                                                    <div class="field" data-ng-class="{'error' : commentForm.content.$invalid && commentForm.content.$touched }">
                                                        <label><i class="write icon"></i>Treść komentarza</label>
                                                        <textarea data-ng-model="comment.content" type="description" maxlength="250" name="content" placeholder="Komentarz..." required></textarea>
                                                    </div>
                                                    <button class="ui accent-color button" type="submit">Dodaj</button>
                                                </form>
                                            </div>
                                            <div data-ng-if="angular.isDefined(reservation.commentByDriver) || reservation.commentByDriver !== null">
                                                <p><rating id="my-rating{{reservation.id}}3" size="large" type="star" readonly="true" data-ng-model="reservation.commentByDriver.rate"></rating>{{reservation.commentByDriver.rate}}</p>
                                                <p><i class="write icon"></i><strong>Treść komentarza</strong></p>
                                                <p>{{reservation.commentByDriver.content}}</p>
                                                <div data-ng-if="reservation.commentByDriver.response !== null">
                                                    <p><i class="write icon"></i><strong>Treść odpowiedzi</strong></p>
                                                    <p>{{reservation.commentByDriver.response.content}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-top: 10px" data-ng-if="reservation.state==='NOTACCEPTED'" class="two ui buttons">
                                    <button data-ng-click="acceptReservation(reservation.id)" class="ui reservation green basic button">
                                        Zaakceptuj
                                    </button>
                                    <button data-ng-click="rejectReservation(reservation.id)" class="ui reservation red basic button">
                                        Odrzuć
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        $(document).ready(function(){
                            $('.ui.accordion').accordion();
                        });
                    </script>

                </div>
                <div class="ui orange segment" data-ng-if="transport.reservations.length === 0">
                    Jeszcze nikt nie dokonał rezerwacji tego transportu.
                </div>
            </div>
        </div>
    </div>

    <div id="acceptReservationModal" class="ui basic modal">
        <i data-ng-click="acceptReservationModalCancel()" class="close icon"></i>
        <div class="header">
            Potwierdzenie
        </div>
        <div class="image content">
            <i class="Check Circle Outline huge icon"></i>
            <div class="description white-description">
                <h4>Czy napewno chcesz potwierdzić tą rezerwację?</h4>
                <h4>Potem nie będzie odwrotu!</h4>
            </div>
        </div>
        <div class="actions">
            <div class="two fluid ui inverted buttons">
                <div data-ng-click="acceptReservationModalOK()" class="ui green basic inverted button">
                    <i class="checkmark icon"></i>
                    Tak
                </div>
                <div data-ng-click="acceptReservationModalCancel()" class="ui red basic inverted button">
                    <i class="remove icon"></i>
                    Nie
                </div>
            </div>
        </div>
    </div>

    <div id="rejectReservationModal" class="ui basic modal">
        <i data-ng-click="rejectReservationModalCancel()" class="close icon"></i>
        <div class="header">
            Potwierdzenie
        </div>
        <div class="image content">
            <i class="Remove Circle Outline huge icon"></i>
            <div class="description white-description">
                <h4>Czy napewno chcesz odrzucić tą rezerwację?</h4>
                <h4>Potem nie będzie odwrotu!</h4>
            </div>
        </div>
        <div class="actions">
            <div class="two fluid ui inverted buttons">
                <div data-ng-click="rejectReservationModalOK()" class="ui green basic inverted button">
                    <i class="checkmark icon"></i>
                    Tak
                </div>
                <div data-ng-click="rejectReservationModalCancel()" class="ui red basic inverted button">
                    <i class="remove icon"></i>
                    Nie
                </div>
            </div>
        </div>
    </div>

    <div id="addReservationModal" class="ui small modal">
        <i data-ng-click="closeModal()" class="close icon"></i>
        <div data-ng-if="!correctReservation && error" class="header">
            Nie udało się! Jakiś błąd serwera :(
        </div>
        <div data-ng-if="!correctReservation && !error" class="header">
            Zarezerwuj paczkę!
        </div>
        <div data-ng-if="correctReservation && !error" class="header">
            Pomyślna rezerwacja!
        </div>
        <div data-ng-if="correctReservation && !error" class="content">
            Teraz czekaj na zaakceptowanie twojej rezerwacji przez kierowcę.
            Możesz sprawdzić status rezerwacji w szczegółach transportu oraz w zakładce "Twoje przesyłki".
        </div>
        <div data-ng-if="!correctReservation && !error" class="content">
            <form class="ui form" name="reservationForm" data-ng-submit="onReservation()" novalidate>
                <div class="ui grid center stackable">
                    <div class="two wide column"></div>
                    <div class="six wide column">
                        <div data-ng-if="noPreference" div class="row">
                            <ul>
                                <li class="has-error">Podaj chociaż jedną preferencję</li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="grouped fields">
                                <label><i class="Suitcase icon"></i>Jakie są twoje paczki?</label>
                                <div class="field">
                                    <div style="display: block; margin-bottom: 5px" class="ui slider checkbox" data-ng-repeat="preference in preferences">
                                        <input
                                                type="checkbox"
                                                name="selectedPreferences[]"
                                                value="{{preference.id}}"
                                                data-ng-checked="reservation.preferences.indexOf(preference) > -1"
                                                data-ng-click="toggleSelection(preference)"
                                        >
                                        <label>{{preference.name}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="six wide column">
                        <div class="row">
                            <div class="field" data-ng-class="{'error' : reservationForm.receiverEmail.$invalid && reservationForm.receiverEmail.$touched }">
                                <label><i class="at icon"></i>(Opcjonalnie) Email odbiorcy: </label>
                                <input data-ng-model="reservation.receiverEmail" type="email" name="receiverEmail">
                            </div>
                        </div>
                        <div class="row">
                            <div style="margin-top: 10px" class="row">
                                <div class="two ui buttons">
                                    <button data-ng-disabled="reservationForm.$invalid" class="ui green basic button" type="submit">
                                        Zarezerwuj
                                    </button>
                                    <button data-ng-click="closeModal()" class="ui red basic button">
                                        Cofnij
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="two wide column"></div>
                </div>
            </form>
        </div>
    </div>

</div>