.primary-color.menu.icon, .primary-color.footer.segment{                background-color: #00ACC1; }
.primary-light-color.menu.icon, .primary-light-color.footer.segment{    background-color: #B2EBF2; }
.primary-dark-color.menu.icon, .primary-dark-color.footer.segment{      background-color: #0097A7; }
.accent-color.menu.icon, .accent-color.footer.segment{                  background-color: #FF6F00; }

.primary-color{                                                                 color: #00ACC1; }
.primary-light-color{                                                           color: #B2EBF2; }
.primary-dark-color{                                                            color: #0097A7; }
.accent-color, .ui.steps .active.step .icon, .ui.steps .step.active .title{     color: #FF6F00; }

.primary-color.button{          box-shadow: 0 0 0 1px #00ACC1 inset!important; color: #00ACC1 !important; background-color:#FFFFFF;}
.accent-color.button{        box-shadow: 0 0 0 1px #FF6F00 inset!important; color: #FF6F00 !important; background-color:#FFFFFF;}
.primary-light-color.button{    box-shadow: 0 0 0 1px #B2EBF2 inset!important; color: #B2EBF2 !important; background-color:#FFFFFF;}
.primary-dark-color.button{     box-shadow: 0 0 0 1px #0097A7 inset!important; color: #0097A7 !important; background-color:#FFFFFF;}

.accent-color.button:hover{
     box-shadow: 0 0 0 1px #00ACC1 inset!important; color: #00ACC1 !important; background-color:#FFFFFF;
 }

.accent-color.button:focus{
    background-color:#FFFFFF;
}

.primary-color.button:hover{
    box-shadow: 0 0 0 1px #FF6F00 inset!important; color: #FF6F00 !important; background-color:#FFFFFF;
}

.primary-color.button:focus{
    background-color:#FFFFFF;
}

.ui.inverted.pointing.menu .active.item:after, .ui.inverted.pointing.menu .active.item:hover:after{
    background: #FF6F00 !important;
}

.has-error{
    color: #9f3a38 !important;
}

a.transport-title, span.orderBy, span.sortorder{
    color: #FF6F00;
}

a.transport-title:hover, span.orderBy:hover{
    color: #0097A7;
}